* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 20px;
}

.card {

    background: white;

    max-width: 450px;

    margin: auto;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    text-align: center;
}

h1 {

    margin-bottom: 10px;

    color: #222;
}

p {

    margin-bottom: 30px;

    color: #666;
}

form {

    display: flex;
    flex-direction: column;

    gap: 15px;

    margin-bottom: 20px;
}

input[type="file"] {

    padding: 12px;

    border: 1px solid #ddd;

    border-radius: 10px;

    background: #f8f8f8;
}

button {

    padding: 15px;

    border: none;

    border-radius: 10px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

.import-btn {

    background: #4f46e5;

    color: white;
}

.import-btn:hover {

    background: #4338ca;
}

.export-btn {

    width: 100%;

    background: #16a34a;

    color: white;
}

.export-btn:hover {

    background: #15803d;
}